@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

// SCSS variables
$sans: "Roboto", sans-serif;
$main-btn-color: #e4f0f5;
$sign-btn-color: #ffe45e;
$special-btn-color: #f2555e;
$background-color: #ffeed6;
$font-color: #222;

// CSS reset to remove browser padding etc.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $sans;
  color: $font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background-color;
}

#container {
  background: white;
  width: 20rem;
  min-height: 450px;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#display {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: right;
  max-height: 100px;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-bottom: 1rem;
  padding: 1rem;
}

#button-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.calc-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-btn-color;
  border: 1px solid white;
  font-size: 2rem;
  border-radius: 0.3rem;
  padding: 1rem;
  height: 3rem;

  &:hover {
    opacity: 70%;
    transition: all 0.5s;
  }
}

.special {
  background-color: $special-btn-color;
}

.operation {
  background-color: $sign-btn-color;
}
